body {
    font-family: Arial, sans-serif;
    background-color: white; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-container {
    display: flex;
    align-items: center;
}

.profile-email {
    margin-right: 10px; /* Adjust margin as needed */
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

.landing {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-content {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.landing-content h1 {
    font-size: 48px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
   
}

.logout-btn {
    background-color: maroon;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: maroon;
    text-decoration: none;
}

.date {
    color: maroon;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select, input, button {
    margin-top: 5px;
}

button {
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    color: green;
}

.error {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}
